<div class="row">
  <div class="col-6">
    <div id="form-contant">
      <h1 class="color-bordo font-35 bold">צור קשר</h1>
      <p>-אם אתם רוצים לשאול אותנו משהו, לברר פרטים, או להיות שותפים לעשיה .<br>
        השאירו לנו הודעה, ואנו נחזור אליכם בהקדם האפשרי</p>
      <div id="login-form">
        <form>
          <div class="form-input">
            <label for="Username">שם</label>
            <input type="text" name="username" id="Username" required [(ngModel)]="contact.name">
          </div>
          <div class="form-input">
            <label for="pass">טלפון</label>
            <input type="tel" name="tel" id="tel" required [(ngModel)]="contact.tell">
          </div>
          <div class="form-input">
            <label for="pass">מייל</label>
            <input type="email" name="email" id="email" required [(ngModel)]="contact.email">
          </div>
          <div class="form-input">
            <label for="pass">הודעה</label>
            <textarea name="mess" id="mess" [(ngModel)]="contact.message"></textarea>
          </div>

        </form>
      </div>
    </div>
    <div style="text-align: center;">
      <input class="red-button" id="submit" type="submit" value="שלח" (click)="send()">
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <!-- <div class="col-3">
                <p>התקשר אלינו</p>
                <img src="../../../../assets/tell-icon.svg">
                <p>03-9142682</p>
            </div>
            <div class="col3">
                <p>שלח לנו מייל</p>
                <img src="../../../../assets/email-icon.svg">
                <p>bemazaltov@gmail.com</p>
            </div> -->
      <!-- <div class="container">
                <div class="part">
                    <p>התקשר אלינו</p>
                    <a class="circle">
                        <span class="image" style="background-color: #750F2F;"></span>
                        <div class="ccont"> <img src="../../../../assets/tell-icon.svg"></div>
                    </a>
                </div>
                <div class="part">
                    <p>שלח לנו מייל</p>
                    <a class="circle">
                        <span class="image" style="background-color: #750F2F;"></span>
                        <div class="ccont"> <img src="../../../../assets/email-icon.svg"></div>
                    </a>
                </div>

            </div> -->
    </div>

  </div>

</div>
