 <div class="row">
    <div class="col-6">
        <h1 class="color-bordo font-35 bold">צור קשר</h1>
        <p>-אם אתם רוצים לשאול אותנו משהו, לברר פרטים, או להיות שותפים לעשיה .<br>
            השאירו לנו הודעה, ואנו נחזור אליכם בהקדם האפשרי</p>
        <div id="login-form"> 
            <form>
                <div class="form-input">
                    <label for="Username">שם</label>
                    <input type="text" name="username" id="Username" required>
                </div>
                <div class="form-input">
                    <label for="pass">טלפון</label>
                    <input type="tel" name="tel" id="tel" required>
                </div>
                <div class="form-input">
                    <label for="pass">מייל</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-input">
                    <label for="pass">הודעה</label>
                    <textarea name="mess" id="mess"></textarea>
                </div>
                <div>
                    <input class="red-button" id="submit" type="submit" value="כניסה">
                </div>
            </form>
        </div>
    </div>
    <div class="col-6">

    </div>  
</div> 