<div class="text-center mt-5">
    <p class="color-bordo font-35 bold">ברוך הבא <br>ותודה שבחרת להצטרף אלינו</p>
    <p class="weight-600 font-30">אני רוצה להיות?</p>
</div>
<div class="background-bordo mt-4" id="section">
    <div class="row circles">
        <div class="circle col-3 pointer" (click)="createNew('secretary/new')">
            <img src="../../../../assets/איקון רשמת.png">
            <p class="type">רשמ/ת</p>
        </div>
        <div class="circle col-3 pointer" (click)="createNew('matchmarker/new')">
            <img style="padding-right: 4.5vw;" src="../../../../assets/Group 1061.svg">
            <p class="type">שדכנ/ית</p>
        </div>
        <div class="circle col-3 pointer" (click)="createNew('worker/new')">
            <img style="padding-right: 4.5vw;" src="../../../../assets/איקון יועץ או מטפל.png">
            <p class="type" style="left: 5.5vw;">יועצ/ת <br>מטפל/ת</p>
        </div>
        <div class="circle col-3 pointer" (click)="createNew('worker/new')">
            <img src="../../../../assets/איקון רב.png">
            <p class="type">רב/נית</p>
        </div>
    </div>
</div>