#login {
  background-image: url("../../../../assets/shutterstock-אהבה-נישואין-זוגיות-חתונה-טבעת-לבבות-336794264.png");
  height: 75vh;
  background-size: 100vw 75vh;
  background-repeat: no-repeat;
  padding-top: 10vh;
}
#login-form {
  background-color: #fcfbf9;
  height: 400px;
  width: 400px;
  margin-right: 11vw;
}
form {
  margin: auto;
  padding-top: 10vh;
  padding-right: 6vw;
}
.red-button {
  width: 20vw;
  margin: 0px;
  margin-top: 2vh;
  padding: 10px;
}
#links{
  position: relative;
  top: 8vh;
}
