<form>
    <div>
        <label>שם</label>
        <input type="text" [(ngModel)]="married.name" name="name">
    </div>
    <div>
        <label>טלפון</label>
        <input type="tel" [(ngModel)]="married.phone" name="phone">
    </div>
    <div>
        <label>כתובת</label>
        <input type="text" [(ngModel)]="married.address" name="address">
    </div>
    <div>
        <label>עיר</label>
        <select [(ngModel)]="married.cityId" name="city">
            <option *ngFor="let city of cities" [value]="city.id">
                {{city.name}}
            </option>
        </select>
    </div>
    <div>
        <label>הערה</label>
        <input type="text" [(ngModel)]="married.remark" name="remark">
    </div>

</form>