<div>
  <div>
    <div class="row">
      <div class="mt-5">
        <h3 class="header-page">טופס בקשת הצטרפות - יועצ\ת -מטפל\ת </h3>
        <p class="text-center">תאריך הצטרפות: - {{date| date: 'dd/MM/yyyy'}}</p>
        <div class="bar1 font-20">פרטים אישיים</div>
        <form name="form" class="col-md-10 offset-md-2 mt-5" style="margin: auto;">
          <div>
            <div class="row">
              <div class="form-input col-md-3">
                <label for="firstname">שם פרטי</label>
                <input type="text" [(ngModel)]="worker.user.firstname" name="firstname" id="firstname" required>
              </div>
              <div class="form-input col-md-3">
                <label for="lastname">שם משפחה</label>
                <input type="text" [(ngModel)]="worker.user.lastname" name="lastname" id="lastname" required>
              </div>
              <div class="form-input col-md-3">
                <label for="address">כתובת</label>
                <input type="text" [(ngModel)]="worker.address" name="address" id="address" required>
              </div>
              <div class="form-input col-md-3">
                <label for="city">עיר</label>
                <input type="text" autocomplete="off" list="cities" [(ngModel)]="worker.city" name="city" id="city"
                  required>
                <datalist id="cities">
                  <option *ngFor="let i of cities" [value]="i.cityName">
                </datalist>
              </div>
            </div>
            <div class="row">
              <div class="form-input col-md-3">
                <label for="tell">טלפון</label>
                <input type="tel" [(ngModel)]="worker.tell" name="tell" id="tell" required>
              </div>
              <div class="form-input col-md-3">
                <label for="phone">פלאפון</label>
                <input type="tel" [(ngModel)]="worker.phone" name="phone" id="phone" required>
              </div>
              <div class="form-input col-md-3">
                <label for="fax">פקס</label>
                <input type="tel" [(ngModel)]="worker.fax" name="fax" id="fax">
              </div>
              <div class="form-input col-md-3">
                <label for="email">דואר אלקטרוני</label>
                <input type="email" [(ngModel)]="worker.user.email" name="email" id="email" required>
              </div>
            </div>
            <div class="row">
              <div class="form-input col-md-3">
                <label for="sector">עדה</label>
                <select name="sector" id="sector" [(ngModel)]="worker.sector">
                  <option *ngFor="let i of sector" [value]="i.name"> {{i.name}} </option>
                </select>
              </div>
              <div class="form-input col-md-3" *ngIf="worker.sector=='חסידי'">
                <label for="chasidut">קהילה\חסידות</label>
                <select name="chasidut" id="chasidut" [(ngModel)]="matchmaker.chasidut">
                  <option *ngFor="let i of chasidut" [value]="i.name"> {{i.name}} </option>
                </select>
              </div>
              <div class="form-input col-md-3">
                <label for="bornDate">תאריך לידה</label>
                <input type="date" [(ngModel)]="worker.user.bornDate" name="bornDate" id="bornDate" required
                  #bornDate="ngModel">
              </div>
              <div class="form-input col-md-3">
                <label for="tz">תעודת זהות</label>
                <input type="text" [(ngModel)]="worker.user.tz" name="tz" id="tz" required>
              </div>
            </div>
            <div class="row">
              <div class="form-input col-md-3">
                <label for="pass">מין</label>
                <div class="row">
                  <div class="col-6 row" style="height: 50px;">
                    <input style="margin:auto" class="col-3" type="radio" value="1" [(ngModel)]="worker.user.gender"
                      name="זכר" id="pass" required>
                    <p class="col-7" style="margin:auto">זכר</p>
                  </div>
                  <div class="col-6 row" style="height: 50px;">
                    <input class="col-3" type="radio" value="2" [(ngModel)]="worker.user.gender" name="נקבה" id="pass"
                      required style="margin:auto">
                    <p class="col-7" style="margin:auto">נקבה</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="bar1 font-20  mt-4">עוד על המקצוע...</div>
        <form name="form" class="col-md-10 offset-md-2 mt-5" style="margin: auto;">
          <div>
            <div class="row">
              <div class="form-input col-md-3">
                <label for="hourPrice">מחיר לשעה</label>
                <input type="number" [(ngModel)]="worker.hourPrice" name="hourPrice" id="hourPrice">
              </div>
              <div class="form-input col-md-3">
                <label for="monthPrice">מחיר לחודש</label>
                <input type="number" [(ngModel)]="worker.monthPrice" name="monthPrice" id="monthPrice">
              </div>
              <div class="form-input col-md-3">
                <label for="numHourWork">מספר שעות חודשיות</label>
                <input type="number" [(ngModel)]="worker.numHourWork" name="numHourWork" id="numHourWork">
              </div>
            </div>
            <div class="row">
              <div class="form-input col-md-3">
                <label for="confidentComment">התמחות</label>
                <input type="text" [(ngModel)]="worker.confidentComment" name="confidentComment" id="confidentComment">
              </div>
              <div class="form-input col-md-3">
                <label for="categoryWork">קטגוריה</label>
                <input type="text" [(ngModel)]="worker.categoryWork" name="categoryWork" id="categoryWork">
              </div>
              <div class="form-input col-md-3">
                <label for="experiance">כמה שנים במקצוע</label>
                <input type="number" [(ngModel)]="worker.experiance" name="experiance" id="experiance">
              </div>
            </div>
            <div class="row">
              <div class="form-input col-md-12">
                <label for="remark">הערות</label>
                <input type="text" [(ngModel)]="worker.workerRemark" name="remark" id="remark">
              </div>
            </div>
          </div>
        </form>
        <div class="bar1 font-20  mt-5">בחירת סיסמה</div>
        <form name="form" class="col-md-10 offset-md-2 mt-4" style="margin: auto;">
          <div>
            <div class="row">
              <div class="form-input col-md-3">
                <label for="username">שם משתמש</label>
                <input type="text" [(ngModel)]="worker.user.username" name="username" id="username" required>
              </div>
              <div class="form-input col-md-3">
                <label for="lastname">סיסמה</label>
                <input type="password" [(ngModel)]="worker.user.password" name="password" id="password" required>
              </div>
              <div class="form-input col-md-3">
                <label for="confirmPassword">אימות סיסמה</label>
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword"
                  required>
              </div>
            </div>
          </div>
        </form>
        <div class="bar1 font-20  mt-4">הסכם עבודה</div>
        <form name="form" class="col-md-10 offset-md-2 mt-5" style="margin: auto;">
          <div>
            <div class="row">
              <div class="form-input col-md-4 row">
                <input class="col-1" type="checkbox" [(ngModel)]="worker.isAgreement" name="isAgreement"
                  id="isAgreement" required>
                <label class="col-10" for="isAgreement">קראתי ואשרתי את הסכם העבודה</label>
              </div>
            </div>
            <div class="row">
              <div class="form-input col-md-4 row">
                <input class="col-1" type="checkbox" [(ngModel)]="worker.fillForm" name="fillForm" id="fillForm">
                <label class="col-10" for="isAgreement">מלאת טופס 101</label>
              </div>
            </div>
          </div>
        </form>
        <div style="width: 300px; margin: auto;" class="mb-5">
          <button class="btn btn-primary" (click)="registerMatchmaker()"> הרשמה</button>
        </div>
      </div>
    </div>
  </div>
</div>
