<div id="home">
    <div id="mazal">
        <h4 class="pt-3">לוח מאורסים</h4>
        <p *ngFor="let m of marrys" id="box-marrys"><img src="../../../../assets/Group 914.svg"> {{m}}</p>
        <h2>מזל טוב!</h2>
    </div>
    <img id="img-mazal" src="../../../../assets/במזל טוב.png">
    <div class="row row-circle" *ngIf="this.data">
        <div class="col-2 circle">
            <p class="top-p">{{data[0]}}</p>
            <p>מועמדים <br>במאגר</p>
        </div>
        <div class="col-2 circle">
            <p class="top-p">{{data[1]}}</p>
            <p>שדכנים <br>במערכת</p>"
        </div>
        <div class="col-2 circle">
            <p class="top-p">{{data[2]}}</p>
            <p>נעזרו ביעוץ <br>מקצועי</p>
        </div>
        <div class="col-2 circle">
            <p class="top-p">{{data[3]}}</p>
            <p>התארסו<br>החודש</p>
        </div>
        <div class="col-2 circle">
            <p class="top-p">{{data[4]}}</p>
            <p>שידוכים נסגרו<br>במזל טוב</p>
        </div>
    </div>
    <div id="botton-content">
        <div id="content">
            <h2>קצת עלינו!</h2>
            <h3>מוזמנים להצטרף לעזור לנו להקים עוד בתים בישראל</h3>
            <button class="red-button">אני גם רוצה להיות חלק</button>
        </div>
    </div>

</div>
