<div id="home">
    <div id="mazal">
        <h4 class="pt-3">לוח מאורסים</h4>
        <p><img src="../../../../assets/Group 914.svg"> אליה כהן ותמר לוי</p>
        <p><img src="../../../../assets/Group 914.svg"> אליה כהן ותמר לוי</p>
        <p><img src="../../../../assets/Group 914.svg"> אליה כהן ותמר לוי</p>
        <p><img src="../../../../assets/Group 914.svg"> אליה כהן ותמר לוי</p>
        <p><img src="../../../../assets/Group 914.svg"> אליה כהן ותמר לוי</p>
        <p><img src="../../../../assets/Group 914.svg"> אליה כהן ותמר לוי</p>
        <h2>מזל טוב!</h2>
    </div>
    <img id="img-mazal" src="../../../../assets/במזל טוב.png">
    <div class="row row-circle">
        <div class="col-2 circle">
            <p class="top-p">8000</p>
            <p>מועמדים <br>במאגר</p>
        </div>
        <div class="col-2 circle">
            <p class="top-p">661</p>
            <p>שדכנים <br>במערכת</p>
        </div>
        <div class="col-2 circle">
            <p class="top-p">45</p>
            <p>נעזרו ביעוץ <br>מקצועי</p>
        </div>
        <div class="col-2 circle">
            <p class="top-p">34</p>
            <p>התארסו<br>החודש</p>
        </div>
        <div class="col-2 circle">
            <p class="top-p">56</p>
            <p>שידוכים נסגרו<br>במזל טוב</p>
        </div>
    </div>
    <div id="botton-content">
        <div id="content">
            <h2>קצת עלינו!</h2>
            <!-- <p>בית חם – כשמו כן הוא, בית פתוח וחם למגוון אנשים המתמודדים עם קשיים נפשיים שונים ומהווה בשורה של ממש לכל
                אותם
                אלו שחשים אבודים וזקוקים לכתף חמה, תמיכה ואוזן קשבת. הרב שמואל מונק, אשר נחשף למצוקה הגדולה של נפגעי
                הנפש
                החל את דרכו בהקמת העמותה מתוך אמונה מוצקה שחייבים לחולל שינוי. יש לנפץ את המיתוס כי מצוקה נפשית היא דבר
                שבושה לדבר עליו, גם אם המחיר הוא שבר וקריסה. מאז, בית חם מהווה זרקור רב עוצמה המאיר את קולות הנפש
                השרויים
                במקומות המחבוא ומייחלים להישמע. ואכן, בסיעתא דישמיא אט אט האור מבהיר את החשיכה. אלפי מתמודדים ובני
                משפחותים
                חווים את היציאה מאפילה לאורה ומבושה למפגש עם אנשים הרואים את רוממות הצלם האלוקי שבכל אדם שאנו מחויבים
                וערבים
                לרווחתו הנפשית. -החזון שלנו- חולים ובני משפחותיהם ישתלבו באוכלוסיה הבריאה, וכל נפש פצועה תמצא מזור.</p> -->
            <h3>מוזמנים להצטרף לעזור לנו להקים עוד בתים בישראל</h3>
            <button class="red-button">אני גם רוצה להיות חלק</button>
        </div>
    </div>

</div>