<div class="card-top">
    <p class="font-white">תהליך שידוך</p>
    <img src="../../../../../assets/steps/step2.pn{{canStepCurrect?.male?.user.firstname}} {{canStepCurrect?.male?.user.lastname}}g">
</div>
<div>
    <div class="row">
        <h2 class="col-6 text-center">
        </h2>
        <h2 class="col-6 text-center">{{canStepCurrect?.female?.user.firstname}}
            {{canStepCurrect?.female?.user.lastname}}</h2>
    </div>

    <div id="table-step3">
        <p class="font-30 mb-2" id="p1">כמה אחוזי התאמה את נותנת להם?</p>
        <input type="number" style="font-size: 50px;font-weight: 900;" name="pre" max="100"
            [(ngModel)]="canStepCurrect.precent">
        <h5 class="font-30">הערה</h5>
        <input type="text" id="in-txt" class="mt-4 mb-5" name="remark" [(ngModel)]="canStepCurrect.remark">
    </div>

    <div class="row mt-5 mb-5">
        <button class="btn-steps col-2" style="margin-right: 30vw;" (click)="back()">ביטול הצעה</button>
        <button class="btn-steps col-2" style="margin-right: 6.2vw;" (click)="next()">המשך</button>
    </div>
</div>