.bar1 {
    background-color: #750f2f;
}
select {
    height: 48px;
    border: 1px solid #000000;
}
label{
    font-weight: bold;
}
button {
    width: 311px;
    height: 58px;
    border-radius: 5px;
    background-color: #750f2f;
    margin: auto;
    color: white;
}
.choose{
    background-color: #750F2F21;
}