<p>shadchanit-register works!</p>


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>הרשמה שדכנית </h3>
                <form name="form">
                    <!-- <div *ngFor="let matchmaker of model.matchmaker">   -->
                    <div class="form-group">
                        <label for="username">שם משתמש:</label>
                        <input type="text" class="form-control" name="username"
                            [(ngModel)]="matchmaker.user.username" />

                    </div>
                    <div class="form-group">
                        <label for="password">סיסמא:</label>
                        <input type="text" class="form-control" name="password"
                            [(ngModel)]="matchmaker.user.password" />

                    </div>
                    <div class="form-group">
                        <label for="tz">תעודת זהות:</label>
                        <input type="text" class="form-control" name="tz" [(ngModel)]="matchmaker.user.tz" />

                    </div>
                    <div class="form-group">
                        <label for="firstname">שם פרטי:</label>
                        <input type="text" class="form-control" name="firstname"
                            [(ngModel)]="matchmaker.user.firstname" />

                    </div>

                    <div class="form-group">
                        <label for="lastname">משפחה:</label>
                        <input type="text" class="form-control" name="lastname"
                            [(ngModel)]="matchmaker.user.lastname" />

                    </div>



                    <div class="form-group">
                        <label for="Address">כתובת </label>
                        <input type="text" class="form-control" name="Address" [(ngModel)]="matchmaker.address" />

                    </div>
                    <div class="form-group">
                        <label for="Address">עיר </label>
                        <!-- <input type="text" class="form-control" name="Address" [(ngModel)]="matchmaker.cityId" /> -->
                        <select (change)="onChangeCity($event.target.value)">
                            <option *ngFor="let i of cities"> {{i.name}} </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="sector">מגזר </label>
                        <div *ngFor="let item of sector">
                            <label>{{item.name}}</label>
                            <input type="radio" name="sector" (click)="Idsector(item.id)">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="matchmaker.sectorId==1">
                        <label for="chsidut">חסידות </label>
                        <!-- <input type="text" class="form-control" name="Address" [(ngModel)]="matchmaker.cityId" /> -->
                        <select  (change)="onChangeChasidut($event.target.value)">
                            <option *ngFor="let i of chasidut"> {{i.name}} </option>
                        </select>
                    </div>
                    <app-worker></app-worker>

                    <div class="form-group">
                        <label for="NumMatching">?כמה שידוכים בשנה האחרונה</label>
                        <input type="number" class="form-control" name="NumMatching"
                            [(ngModel)]=" matchmaker.numMatching" />

                    </div>
                    <div class="form-group">
                        <label for="ChildrenMatchmaking">ילדים בשידוכים</label>
                        <input type="number" class="form-control" name="ChildrenMatchmaking"
                            [(ngModel)]=" matchmaker.childrenMatchmaking" />

                    </div>
                    <div class="form-group">
                        <label for="HowSend">אופן שליחת החוברת: </label>
                        <br>
                        <div *ngFor="let item of HowSend">
                            <label>{{item}}</label>
                            <input type="radio" name="HowSend" (click)="HowSend(item)"  >
                        </div>
                        <!-- <label> מייל</label>
                        <input type="radio" name="HowSend">
                        <label> פקס</label>
                        <input type="radio" name="HowSend">
                        <label> דואר</label>
                        <input type="radio" name="HowSend" [(ngModel)]="matchmaker.howSend"> -->
                    </div>
                    <div class="form-group">
                        <label for="medicalProblem">
                            בעיה רפואית</label>
                        <input type="text" class="form-control" name="MedicalProblem"
                            [(ngModel)]="matchmaker.medicalProblem" />

                    </div>
                    <div class="form-group">
                        <label for="IsCommitment">האם קיבלה התחייבות האירגון: </label>
                        <input type="checkbox" class="form-control" name="IsCommitment"
                            [(ngModel)]=" matchmaker.isCommitment" />

                    </div>
                    <div class="form-group">
                        <label for="IsAgreement">האם חתמה על ההסכם: </label>
                        <input type="checkbox" class="form-control" name="IsAgreement"
                            [(ngModel)]="matchmaker.isAgreement" />

                    </div>
                    <div class="form-group">
                        <label for="Status">סטטוס </label>
                        <input type="checkbox" class="form-control" name="Status" [(ngModel)]="matchmaker.status" />

                    </div>



                    <div class="form-group">
                        <button class="btn btn-primary" (click)="registerMatchmaker()"> הרשמה</button>

                    </div>
                    <!-- </div>    -->
                </form>
            </div>
        </div>
    </div>
</div>