/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

p,
a,
div {
    // font-family: "Varela Round", sans-serif;
    font-family: "Segoe UI";
}
a,
button {
    cursor: pointer;
}
@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), url("./assets/fonts/Segoe\ UI.ttf") format("truetype");
}
.red-button {
    background: #750f2f 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
    margin: 10px;
}
